.travelPhotoContainer {
  padding: 40px;

  .travelPhoto {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 6px 0px;
    margin-bottom: 40px;

  }
  

  .travelDescription {
    padding: 40px;
  }

}