$font-stack: 'Work Sans', sans-serif;

* {
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;

  .border { 
    margin-bottom: 50px;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
  }
  
  .aboutName {
    text-align: center;
    color: #BFBFBF;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  
}

