nav {
  display: flex;
  height: 5em;
  width: 100%;
  position: sticky;
  // vertical-align: middle;
  /* border-bottom: 0.5px solid #D4D4D4; */

  .logo {
    height: 3em;
    width: 5em;
    padding-top: 15px;
    opacity: 0.8;
  }

  .title {
    margin-left: 0px;
    color: #BFBFBF;
    text-decoration: none;
    text-align: center;
    padding: 1.5vw 0;
    font-size: 2vw;
  }

  .title:hover {
    text-decoration: line-through;
  }

  ul {
    list-style: none;
    width: 100%;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    display: inline-block;
    text-align: center;
    vertical-align: middle; 

    .insta {
      max-width: 50px;
      max-height: 50px;
    }
  }

  li .navLink {
    display: block;
    padding: 5px 15px 5px;
    text-decoration: none;
    color: #222222;
  }

  li .navLink:hover {
    color: #9C6D78;
  }

  li .instaLink {
    padding-right: 10px;
  }

  li .instaLink:hover {
    opacity: 0.5;
  }
  

}


@media screen and (max-width: 600px) {
  .title {
    font-size: 15px;
  }
}
