.photoLayout {
  padding: 20px;

  .landscape {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 6px 0px;
  }

  .portrait {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6px 0px;
  }

  .middleWords {
    text-align: center;
    height: 150px;

    #words {
      padding-top: 10px;
      font-size: 40px;
      margin-bottom: 0px;
      color: #BFBFBF;
    }

    #speaker {
      padding-left: 400px;
      font-weight: bold;

    }
  }


}

.footer {
  text-align: center;
  height: 50px;

  #disclaimer {
    padding-top: 10px;
    margin: 0px;
    color: #BFBFBF;
  }
  #me {
    margin: 0px;
    color: #ffc0cb;
  }
}

